# awesome-time-series-database
A curated list of awesome time series databases, benchmark tools, blog and published papers

## Contents

- [Time series databases](#time-series-database)
{{#backends}}
  - [{{.}}](#{{.}})
{{/backends}}
- [Monitoring solutions](#monitoring-solutions)


## Time series databases


## Monitoring solutions



## License

[![CC0](http://i.creativecommons.org/p/zero/1.0/88x31.png)](http://creativecommons.org/publicdomain/zero/1.0/)

To the extent possible under law, [Pinglei Guo](https://github.com/at15) has waived all copyright and related or neighboring rights to this work.
