<!-- NOTE: this md file is generated, please don't modify the file directly -->
# awesome-time-series-database
A curated list of awesome time series databases, benchmark tools, blog and published papers

## Contents

- [Databases](#databases)
- [Backends](#backends)
{{! http://stackoverflow.com/questions/9058774/handlebars-mustache-is-there-a-built-in-way-to-loop-through-the-properties-of }}
{{#each backends}}
  - [{{@key}}]({{toRef @key}})
{{/each}}
- [Monitoring solutions](#monitoring-solutions)

## Databases


{{! we can write the template directly?}}
{{#each databases}}

### {{@key}}

[{{@key}}]({{this.url}}) is a {{this.description}}

{{#if this.language}}
- Language: {{this.language}}
{{/if}}

{{/each}}

## Backends

<!-- NOTE: some databases have multiple backends, they are grouped by their default backend. -->

{{#each backends}}
### {{@key}}

Databases: {{#each databases}}[{{this}}]({{toRef this}}){{#unless @last}}, {{/unless}}{{/each}}

#### Design

{{#each links}}
- [{{@key}}]({{this}})
{{/each}}

{{/each}}

## Monitoring solutions



## License

[![CC0](http://i.creativecommons.org/p/zero/1.0/88x31.png)](http://creativecommons.org/publicdomain/zero/1.0/)

To the extent possible under law, [Pinglei Guo](https://github.com/at15) has waived all copyright and related or neighboring rights to this work.
